## Build recommendation system to recommend movies to user based on his behaviour

### Loading essential datasets

In [1]:
import numpy as np
import pandas as pd
import os
os.chdir('/home/admin1/PycharmProjects/Recommender System/ml-25m/')

#### movies file in dataset describing movie with it's genres

In [2]:
movies = pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
movies.shape

(62423, 3)

#### ratings file in dataset describing mapping between rating by user to different movies

In [4]:
ratings_data = pd.read_csv('ratings.csv')
ratings_data.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [5]:
ratings_data.isna().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [6]:
ratings_data.shape

(25000095, 4)

In [7]:
ratings_data.drop('timestamp', axis=1, inplace=True)

### Taking out subset of dataset

In [8]:
ratings_data = ratings_data.loc[(ratings_data['userId'] <= 10000) & (ratings_data['movieId'] <= 10000)]

#### Removing rarely watched movies

In [9]:
for mvid in ratings_data['movieId']:
    indices = ratings_data.loc[ratings_data['movieId'] == mvid].index 
    if len(indices) < 20:
        ratings_data.drop(indices, inplace=True)

In [10]:
ratings_data.head()

   userId  movieId  rating
0       1      296     5.0
1       1      306     3.5
2       1      307     5.0
3       1      665     5.0
4       1      899     3.5

In [11]:
ratings_data.shape

(1123057, 3)

In [33]:
ratings_data.to_csv('ratings_data.csv')

In [12]:
# from sklearn.preprocessing import StandardScaler
# sc_x = StandardScaler()
# ratings_data['rating'] = sc_x.fit_transform(ratings_data['rating'].values.reshape(-1,1))

#### Defining total users and movies

In [13]:
total_users = ratings_data['userId'].max()
total_users

10000

In [14]:
total_movies = ratings_data['movieId'].max()
total_movies

9018

In [15]:
from tensorflow.keras.layers import Input, Embedding, Dense, Dot, Flatten
from tensorflow.keras import Model

In [16]:
user_input = Input(shape=[1])
user_embedding = Embedding(total_users + 1, 10)(user_input)
user_vec = Flatten()(user_embedding)

movie_input = Input(shape=[1])
movie_embedding = Embedding(total_movies + 1, 10)(movie_input)
movie_vec = Flatten()(movie_embedding)

prod = Dot(name='Dot-Product', axes=1)([movie_vec, user_vec])

model = Model([user_input, movie_input], prod)
model.compile('adam', 'mean_absolute_error')

In [17]:
epochs = 30
history = model.fit([ratings_data['userId'].values, ratings_data['movieId'].values], ratings_data['rating'].values
                    ,epochs=epochs)

Train on 1123057 samples
Epoch 1/30
1123057/1123057 [==============================] - 55s 49us/sample - loss: 1.3064
Epoch 2/30
1123057/1123057 [==============================] - 55s 49us/sample - loss: 0.6863
Epoch 3/30
1123057/1123057 [==============================] - 54s 48us/sample - loss: 0.6638
Epoch 4/30
1123057/1123057 [==============================] - 55s 49us/sample - loss: 0.6490
Epoch 5/30
1123057/1123057 [==============================] - 56s 50us/sample - loss: 0.6376
Epoch 6/30
1123057/1123057 [==============================] - 57s 51us/sample - loss: 0.6275
Epoch 7/30
1123057/1123057 [==============================] - 56s 50us/sample - loss: 0.6184
Epoch 8/30
1123057/1123057 [==============================] - 56s 50us/sample - loss: 0.6106
Epoch 9/30
1123057/1123057 [==============================] - 56s 50us/sample - loss: 0.6036
Epoch 10/30
1123057/1123057 [==============================] - 56s 50us/sample - loss: 0.5981
Epoch 11/30
1123057/1123057 [==============================] - 56s 50us/sample - loss: 0.5934
Epoch 12/30
1123057/1123057 [==============================] - 56s 50us/sample - loss: 0.5897
Epoch 13/30
1123057/1123057 [==============================] - 56s 50us/sample - loss: 0.5867
Epoch 14/30
1123057/1123057 [==============================] - 56s 50us/sample - loss: 0.5838
Epoch 15/30
1123057/1123057 [==============================] - 56s 50us/sample - loss: 0.5817
Epoch 16/30
1123057/1123057 [==============================] - 56s 50us/sample - loss: 0.5795
Epoch 17/30
1123057/1123057 [==============================] - 56s 50us/sample - loss: 0.5779
Epoch 18/30
1123057/1123057 [==============================] - 56s 50us/sample - loss: 0.5765
Epoch 19/30
1123057/1123057 [==============================] - 56s 50us/sample - loss: 0.5752
Epoch 20/30
1123057/1123057 [==============================] - 56s 50us/sample - loss: 0.5740
Epoch 21/30
1123057/1123057 [==============================] - 56s 50us/sample - loss: 0.5731
Epoch 22/30
1123057/1123057 [==============================] - 56s 50us/sample - loss: 0.5722
Epoch 23/30
1123057/1123057 [==============================] - 56s 50us/sample - loss: 0.5713
Epoch 24/30
1123057/1123057 [==============================] - 56s 50us/sample - loss: 0.5706
Epoch 25/30
1123057/1123057 [==============================] - 56s 50us/sample - loss: 0.5701
Epoch 26/30
1123057/1123057 [==============================] - 57s 51us/sample - loss: 0.5693
Epoch 27/30
1123057/1123057 [==============================] - 56s 50us/sample - loss: 0.5688
Epoch 28/30
1123057/1123057 [==============================] - 57s 50us/sample - loss: 0.5682
Epoch 29/30
1123057/1123057 [==============================] - 56s 50us/sample - loss: 0.5678
Epoch 30/30
1123057/1123057 [==============================] - 56s 50us/sample - loss: 0.5674

In [34]:
model.save('MovieRecommendationModel.h5')

In [18]:
movie_data = np.array(ratings_data['movieId'].unique())

### For given user id predicting ratings

In [19]:
uid = 2
user = np.full(len(movie_data), uid)

In [20]:
predictions = model.predict([user, movie_data])

In [21]:
predictions = np.array([a[0] for a in predictions])
predictions[:]

array([4.5752234, 3.7409558, 3.3697357, ..., 2.7096612, 3.4875867,
       2.176269 ], dtype=float32)

In [22]:
predictions.shape

(4267,)

In [23]:
mvids = ratings_data['movieId'].unique()
mvids[:10]

array([ 296,  306,  307,  665,  899, 1088, 1175, 1217, 1237, 1250])

In [24]:
get_title = lambda mvid: movies.loc[movies['movieId'] == mvid].title.tolist()[0]

mvtitles = [get_title(mvid) for mvid in mvids]

In [25]:
prediction_data = pd.DataFrame({'userId': uid, 'movieId':mvids, 'title': mvtitles,'rating':predictions})
prediction_data[:10]

   userId  movieId                                             title    rating
0       2      296                               Pulp Fiction (1994)  4.575223
1       2      306  Three Colors: Red (Trois couleurs: Rouge) (1994)  3.740956
2       2      307  Three Colors: Blue (Trois couleurs: Bleu) (1993)  3.369736
3       2      665                                Underground (1995)  4.200428
4       2      899                        Singin' in the Rain (1952)  3.872983
5       2     1088                              Dirty Dancing (1987)  2.435432
6       2     1175                               Delicatessen (1991)  4.408549
7       2     1217                                        Ran (1985)  4.634685
8       2     1237   Seventh Seal, The (Sjunde inseglet, Det) (1957)  4.100123
9       2     1250              Bridge on the River Kwai, The (1957)  4.241301

### Recommending movies based on ratings

In [26]:
recommendations = prediction_data.sort_values(by='rating', ascending=False)[:60]
recommendations

,userId,movieId,title,rating
2802,2,2593,"Monster, The (Mostro, Il) (1994)",6.460388
1413,2,2166,Return to Paradise (1998),6.280026
210,2,7153,"Lord of the Rings: The Return of the King, The...",6.184223
30,2,5952,"Lord of the Rings: The Two Towers, The (2002)",6.160151
186,2,4993,"Lord of the Rings: The Fellowship of the Ring,...",5.981480
1370,2,1050,Looking for Richard (1996),5.865583
4009,2,1236,Trust (1990),5.861531
1525,2,2314,Beloved (1998),5.805889
3969,2,4350,Forgotten Silver (1996),5.700303
3338,2,3613,Things Change (1988),5.642447
3818,2,973,Meet John Doe (1941),5.617575
991,2,2693,Trekkies (1997),5.582795
3089,2,860,"Maybe, Maybe Not (Bewegte Mann, Der) (1994)",5.555128
214,2,8010,"Power of One, The (1992)",5.523559
2073,2,635,"Family Thing, A (1996)",5.490066
3285,2,6270,Akira Kurosawa's Dreams (Dreams) (1990),5.477164
2536,2,3038,"Face in the Crowd, A (1957)",5.427845
2529,2,2682,Limbo (1999),5.425682
3924,2,2937,"Palm Beach Story, The (1942)",5.403701
2957,2,7773,"Bang, Bang, You're Dead (2002)",5.402207
1554,2,4392,Alice (1990),5.400068
3874,2,6584,"What's Up, Tiger Lily? (1966)",5.386854
4256,2,3914,"Broken Hearts Club, The (2000)",5.382601
3428,2,8235,Safety Last! (1923),5.367225
3514,2,3622,"Twelve Chairs, The (1970)",5.366791
1297,2,2696,"Dinner Game, The (Dîner de cons, Le) (1998)",5.348379
2657,2,8132,Gladiator (1992),5.321545
18,2,2843,"Black Cat, White Cat (Crna macka, beli macor) ...",5.306032
2431,2,1480,Smilla's Sense of Snow (1997),5.303704
1923,2,8341,Oliver Twist (1948),5.273089
143,2,2571,"Matrix, The (1999)",5.258466
3268,2,3064,Poison Ivy: New Seduction (1997),5.256536
466,2,5618,Spirited Away (Sen to Chihiro no kamikakushi) ...,5.242870
1790,2,3677,Baraka (1992),5.228225
1245,2,6350,Laputa: Castle in the Sky (Tenkû no shiro Rapy...,5.222622
4177,2,3920,"Faraway, So Close (In weiter Ferne, so nah!) (...",5.222407
1228,2,2165,Your Friends and Neighbors (1998),5.218518
4232,2,6186,Gods and Generals (2003),5.217844
3395,2,615,Bread and Chocolate (Pane e cioccolata) (1973),5.216576
1243,2,5971,My Neighbor Totoro (Tonari no Totoro) (1988),5.216065
60,2,260,Star Wars: Episode IV - A New Hope (1977),5.208580
2828,2,7087,"Passage to India, A (1984)",5.202241
86,2,1196,Star Wars: Episode V - The Empire Strikes Back...,5.193318
3651,2,5602,"Ladykillers, The (1955)",5.181335
1251,2,1218,"Killer, The (Die xue shuang xiong) (1989)",5.155778
3601,2,7831,Another Thin Man (1939),5.154697
2958,2,7827,Cypher (2002),5.147016
4165,2,1472,City of Industry (1997),5.144376
3896,2,580,Princess Caraboo (1994),5.132981
2402,2,2131,Autumn Sonata (Höstsonaten) (1978),5.132539
4068,2,6271,Day for Night (La Nuit Américaine) (1973),5.118129
2195,2,3551,Marathon Man (1976),5.114375
208,2,7090,Hero (Ying xiong) (2002),5.097171
1317,2,7099,Nausicaä of the Valley of the Wind (Kaze no ta...,5.088205
3107,2,5329,"Salton Sea, The (2002)",5.088131
63,2,318,"Shawshank Redemption, The (1994)",5.087287
3800,2,3846,Easy Money (1983),5.087177
1059,2,3429,Creature Comforts (1989),5.084649
4194,2,4415,Cheech & Chong's Nice Dreams (1981),5.078504
4060,2,1076,"Innocents, The (1961)",5.073914

### Checking predicted ratings for highly rated movies by the user

In [27]:
watched_movies = ratings_data.loc[(ratings_data['userId'] == uid) & (ratings_data['rating'] >= 5)].movieId

### Actual rating

In [32]:
ratings_data.loc[(ratings_data['userId'] == uid) & (ratings_data['movieId'].isin(watched_movies))]

     userId  movieId  rating
72        2      110     5.0
76        2      260     5.0
79        2      318     5.0
80        2      333     5.0
85        2      457     5.0
89        2      527     5.0
101       2     1136     5.0
102       2     1196     5.0
103       2     1197     5.0
106       2     1210     5.0
108       2     1257     5.0
113       2     1287     5.0
114       2     1291     5.0
115       2     1293     5.0
118       2     1356     5.0
120       2     1376     5.0
125       2     1488     5.0
128       2     1584     5.0
130       2     1610     5.0
148       2     2150     5.0
149       2     2194     5.0
155       2     2359     5.0
157       2     2470     5.0
160       2     2571     5.0
162       2     2640     5.0
166       2     2745     5.0
178       2     3360     5.0
182       2     3578     5.0
183       2     3793     5.0
188       2     4016     5.0
190       2     4022     5.0
200       2     4886     5.0
201       2     4896     5.0
203       2     4993     5.0
204       2     4995     5.0
206       2     5103     5.0
207       2     5349     5.0
208       2     5418     5.0
211       2     5816     5.0
212       2     5952     5.0
219       2     6333     5.0
220       2     6539     5.0
223       2     6879     5.0
227       2     7075     5.0
229       2     7143     5.0
230       2     7153     5.0
234       2     8010     5.0
236       2     8368     5.0
237       2     8636     5.0
241       2     8970     5.0

### Predicted rating

In [29]:
prediction_data.loc[prediction_data['movieId'].isin(watched_movies)]

,userId,movieId,title,rating
30,2,5952,"Lord of the Rings: The Two Towers, The (2002)",6.160151
34,2,6539,Pirates of the Caribbean: The Curse of the Bla...,5.026112
56,2,110,Braveheart (1995),4.503234
60,2,260,Star Wars: Episode IV - A New Hope (1977),5.208580
63,2,318,"Shawshank Redemption, The (1994)",5.087287
64,2,333,Tommy Boy (1995),2.854502
69,2,457,"Fugitive, The (1993)",4.285693
73,2,527,Schindler's List (1993),4.955453
85,2,1136,Monty Python and the Holy Grail (1975),5.021272
86,2,1196,Star Wars: Episode V - The Empire Strikes Back...,5.193318
87,2,1197,"Princess Bride, The (1987)",5.046271
90,2,1210,Star Wars: Episode VI - Return of the Jedi (1983),5.053133
92,2,1257,Better Off Dead... (1985),3.428310
97,2,1287,Ben-Hur (1959),4.537789
98,2,1291,Indiana Jones and the Last Crusade (1989),4.329702
99,2,1293,Gandhi (1982),4.819433
102,2,1356,Star Trek: First Contact (1996),4.356205
104,2,1376,Star Trek IV: The Voyage Home (1986),4.217091
109,2,1488,"Devil's Own, The (1997)",2.751205
112,2,1584,Contact (1997),3.992748
114,2,1610,"Hunt for Red October, The (1990)",4.189220
131,2,2150,"Gods Must Be Crazy, The (1980)",3.739014
132,2,2194,"Untouchables, The (1987)",4.176963
138,2,2359,Waking Ned Devine (a.k.a. Waking Ned) (1998),4.699641
140,2,2470,Crocodile Dundee (1986),2.990375
143,2,2571,"Matrix, The (1999)",5.258466
145,2,2640,Superman (1978),3.464803
149,2,2745,"Mission, The (1986)",5.063674
161,2,3360,Hoosiers (a.k.a. Best Shot) (1986),3.168306
165,2,3578,Gladiator (2000),4.797736
166,2,3793,X-Men (2000),4.286593
171,2,4016,"Emperor's New Groove, The (2000)",4.288902
173,2,4022,Cast Away (2000),3.745983
183,2,4886,"Monsters, Inc. (2001)",4.517720
184,2,4896,Harry Potter and the Sorcerer's Stone (a.k.a. ...,4.714073
186,2,4993,"Lord of the Rings: The Fellowship of the Ring,...",5.981480
187,2,4995,"Beautiful Mind, A (2001)",4.478674
189,2,5103,"Sandlot, The (1993)",3.818585
190,2,5349,Spider-Man (2002),4.058734
191,2,5418,"Bourne Identity, The (2002)",4.404623
194,2,5816,Harry Potter and the Chamber of Secrets (2002),4.587925
200,2,6333,X2: X-Men United (2003),4.569471
203,2,6879,Runaway Jury (2003),4.131471
207,2,7075,"Court Jester, The (1956)",4.770388
209,2,7143,"Last Samurai, The (2003)",4.504245
210,2,7153,"Lord of the Rings: The Return of the King, The...",6.184223
214,2,8010,"Power of One, The (1992)",5.523559
215,2,8368,Harry Potter and the Prisoner of Azkaban (2004),4.868488
216,2,8636,Spider-Man 2 (2004),3.930230
220,2,8970,Finding Neverland (2004),4.459257